.cart-item {
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 18px;
}

.added-item1 {
    display: inline;
    float: left;
    width: 50%;
    height: 146px;
    padding: 12px;
    color: grey;
    text-transform: capitalize;
    font-family: montserrat-regular,sans-serif;
    font-size: 13px;
    line-height: 1.33;
    padding-bottom: 10px;
}

.added-item2 {
    display: inline;
    width: 50%;
    height: 146px;
    padding: 12px;
    color: grey;
    text-transform: capitalize;
    font-family: montserrat-regular,sans-serif;
    font-size: 13px;
    line-height: 1.33;
    padding-bottom: 10px;
}

.added-item-row {
    display: block;
    height: 156px;
}

.added-item.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.price {
    font-weight: bolder;
    color: grey;
}

.added-item-button {
    display: block;
    width: 100%;
    height: 32px;
    border-top: 1px solid grey;
}

.added-item-delete {
    display: inline;
    width: 50%;
    float: left;
    padding-left: 23%;
}

.added-item-wishlist {
    display: inline;
    width: 50%;
    border-left: 1px solid grey;
    padding-left:18%;
}

.btn-group .button {
    background-color: hsl(0, 12%, 92%); /* Green */
    border: 1px solid hsl(0, 12%, 92%);
    color: black;
    padding: 2px 141px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: rgb(197, 184, 184);
  }

.price-summary {
    font-size: 12px;
    font-weight: 600;
    color: #000;
    padding: 4px 18px;
    background-color: hsl(0, 12%, 92%);
    text-transform: uppercase;
    margin: 0px;
}

.prc-summary {
    margin-left: 20px;
    width: 100%;
    border: 2px solid hsl(0, 12%, 92%);
}

.paymentBox {
    padding: 18px;
}

.pmts-pr {
    padding: 18px;
    width: 66%;
    float: left;
    display: inline;
}


.paymentBoxInner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    font-family: montserrat-regular,sans-serif;
    font-size: 13px;
    color: grey;
    line-height: 1.33;
    padding-bottom: 10px;
}

.savingLabel {
    background-color: rgb(245, 231, 214);
    color: rgb(29, 136, 2);
    border-radius: 15px;
    padding: 2px 14px;
    font-size: 14px;
}

.pmts-wrap {
    float: left;
    width: 100%;
}

.btn-area {
    display: inline;
    padding:28px;
    vertical-align: middle
}

.pmts-btn {
    padding: 6px; 
    background: #42a2a2; 
    border-radius: 5px; 
    font-size: 16px; 
    font-family: montserrat,sans-serif; 
    color: #fff; 
    margin: 0;
    text-transform: uppercase;
    width: 30%;
    border: none;
}

.itemName {
    padding: 4px 1px;
}

.price {
    color:black;
    font-size: 14px;
}

.quantityInStock {
    padding: 4px 1px;
}

.increment {
    padding: 16px 1px;
}

.customer-border {
    border: 1px solid black;
}

img {
    height:120px;
    float: right;
}

.space {
    height: 1px;
}

.price {
    font-weight: bolder;
    color: grey;
}

  .delete_btn {
    background-color: #e8e1d9;
    border-left: 1px solid black;
    text-align: center;
  }

  .wishlist_btn {
    background-color: #e8e1d9;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
  }
  
  .delete_btn:hover {
    background-color: #ca9f68;
    border-left: 1px solid black;
    color:white;
    text-align: center;
  }

  .wishlist_btn:hover {
      background-color: #ca9f68;
      color:white;
      border-left: 1px solid black;
      border-right: 1px solid black;
      text-align: center;
  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }