<!--  <div class="websiteMyacTitle">
    <div>My Profile</div>
    <hr>
</div> 
<div class="row"></div>
<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="guest-form-card card">
   
        <div class="card-header text-center">
          <h2>My Profile</h2>
        </div>
   
        <div class="card-body">
          <form [formGroup]="userDetailForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <label for="username">{{'label.username' | translate}}</label>
              <input type=text formControlName="username" class="form-control" [(ngModel)]="data.username" value={{data.username}}>
            </div>
            

            <div class="form-group">
              <label for="email">{{'label.emailAddress' | translate}}</label>
              <input type="email" formControlName="emailId"  class="form-control" [(ngModel)]="data.emailId" value={{data.emailId}} />
            </div>

          <div class="form-group">
            <label for="mobile">{{'label.mobileNumber' | translate}}</label>
            <input id="mobile" formControlName="mobileNumber" class="form-control" [(ngModel)]="data.mobileNumber"  value={{data.mobileNumber}}/>
          </div>
 
          <div class="form-group">
            <label for="password">{{'label.password' | translate}}</label>
            <div>
            <input type="password"  formControlName="password" id="password" name="password" class="form-control" ng-required=true  [(ngModel)]="data.password" value={{data.password}}/>
            </div> 
            
          </div>

          <p>
            Select Language:
            <select formControlName="language" class="form-control" [(ngModel)]="data.language"  value={{data.language}}>
              <option *ngFor="let item of supportLanguages">{{item}}</option>
            </select>
          </p>
    
            <div>
              <button class="pmts-btn">SAVE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">.</div> -->