<div class="row">.</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="guest-form-card card">
   
        <div class="card-header text-center">
          <h2>{{'text.registerHere' | translate}}</h2>
        </div>
   
        <div class="card-body">
          <form [formGroup]="userDetailForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <label for="username">{{'label.username' | translate}}</label>
              <input type=text formControlName="username" class="form-control" />
            </div>
            

            <div class="form-group">
              <label for="email">{{'label.emailAddress' | translate}}</label>
              <input type="email" formControlName="emailId"  class="form-control" />
            </div>

          <div class="form-group">
            <label for="mobile">{{'label.mobileNumber' | translate}}</label>
            <input id="mobile" formControlName="mobileNumber" class="form-control" />
          </div>
 
          <div class="form-group">
            <label for="password">{{'label.password' | translate}}</label>
            <input type="password"  formControlName="password" id="password" name="password" class="form-control" ng-required=true /> 
          </div>
          
          <div class="form-group">
            <label for="language">Language</label>
            <input type=text  formControlName="language" id="language" name="language" class="form-control" ng-required=true /> 
          </div>

            <div>
              <button class="pmts-btn">{{'button.register' | translate}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>