<div class="websiteMyacTitle">My Account</div>
<div class="myaccBox" style="margin-bottom: 0px;">
    <div class="accOptionsBox">
        <div class="container custmPadding">

<div class="clearfix accOptions">
    <div class="accOptionsInner">
        <a aria-current="false" id="testMyOrders" href="/orders">
            <span class="accHead">My Orders</span>
            <i class="icon_next"></i>
            <span class="accNote">View, modify and track orders</span>
        </a>
    </div>

    <div class="accOptionsInner">
        <a aria-current="false" id="testMyPayment" href="/myaccount/payments">
            <span class="accHead">My Payments</span>
            <i class="icon_next"></i>
            <span class="accNote">View and modify payment methods</span>
        </a>
    </div>
    
    <div class="accOptionsInner">
        <a aria-current="false" id="testMyWallet" href="/changeLanguage">
            <span class="accHead">Change language</span>
            <i class="icon_next"></i>
        </a>
    </div>

    <div class="accOptionsInner">
        <a aria-current="false" id="testMyAddress" href="/address">
            <span class="accHead">My Addresses</span>
            <i class="icon_next"></i>
            <span class="accNote">Edit, add or remove addresses</span>
        </a>
    </div>
    
    <div class="accOptionsInner">
        <a aria-current="false" id="testMyProfile" href="/myProfile">
            <span class="accHead">My Profile</span>
            <i class="icon_next"></i>
            <span class="accNote">Edit personal info, change password</span>
        </a>
    </div>
</div>
</div>