
<div class="container">
  <div class="col">
    <div class="card mb-7 shadow-lg">
      <img class="bd-placeholder-img card-img-top p-0" width="100%" height="240px" alt="fy" [src]="productItem.imagePath" [routerLink]="['/product',productItem.id]" style="cursor: pointer;" /> 
      <div class="card-body">
        <p class="card-text1">{{ productItem.name }} </p>
        <p class="card-text2">
          <strong>{{ productItem.price | currency:'INR' }}</strong>
          <i *ngIf="!addedToWishlist" class='far fa-heart' (click)="handleAddToWishlist(productItem)" ></i>
          <i *ngIf="addedToWishlist" class="fas fa-heart" (click)="handleRemoveFromWishlist(productItem)" ></i>
        </p>
      </div>
      <div class="pmts-btn">
        <button (click)="addtocart(productItem)">{{'button.addToCart' | translate}}</button>
      </div>
    </div>       
  </div>
</div>
        

        

   
      

      
    
  
